<div class="bouth">
     <div class="links clearfix">
        <a href="#">Главная</a> -
        <a href="#">Промоакции</a> -
        <a href="#">Подарок за покупку</a>
    </div>
    <h1>Подарок за покупку</h1>
    <div class="bouth_text">
        <p>Если провести опрос среди обычных людей, то многие скажут, что ненавидят рекламу. Одн спланированные акции с приятными сюрпризами также входят в рекламные стратегии</p>
        <img src="./image/activ.jpg">
        <p>Наше агенство «Флай-Тайм» предлагает ненавязчивое продвижение вашего товара с исп которые понравятся покупателя и стимулируют продажи вашей продукции. Мы предлагае самых эффективных методов промоушна - подарок за покупку (buy get). Суть данного мер дополнительного бонуса покупателям определенной продукции.</p>
    </div>
    <div class="saidbar">
        <ul>
            <li>
                <a href="#">
                    <img src="./image/tab_list.png">
                    <span>Раздача листовок</span>
                </a>
            </li>
            <li>
                <a href="#">
                   <img src="./image/tab_list4.png"><span>Раздача пробных
                   <br> образцов продукции</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./image/tab_list5.png">
                    <span>Консультации, дегустации, демонтрации</span></a>
            </li>
            <li>
                <a href="#">
                    <img src="./image/tab_list2.png">
                    <span>Подарок за покупку</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./image/tab_list3.png">
                    <span>Анимация</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./image/tab_list6.png">
                    <span>Консультации в аптеках</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="description">
        <h2>Виды акций «Подарки за покупку»</h2>
        <p>Существует несколько способов привлечь клиента. Мы можем:</p>
        <ul>
            <li>
               <p>прикрепить (часто примотать) дополнительный продукт к основному. Это может быть как такой же товар, так и сопутствующий (например, дневной крем с пробником ночного) или не имеющий прямого отношения к главному продукту сувенир (магнит, ручка и т.д.); </p>
            </li>
            <li>
                <p>проинформировать покупателя (листовками, устно, постерами и пр.) о получении бонуса при покупке определенного количество товара одного бренда или продукции не ниже заявленной суммы;</p>
            </li>
            <li>
                <p>Eum repudiandae aliquid ex impedit repellendus explicabo temporibus! Soluta voluptatum sequi ipsum esse ipsa, reprehenderit aspernatur iusto iure, tempore aperiam!</p>
            </li>
        </ul>
        <p>Перечисленные приемы оправданы, если невозможно провести дегустацию или демонстрацию продукта, дать необходимый пробник или использовать другие виды промо-акций.</p>
        <h2>Как правильно организовать такое мероприятие?</h2><br><br>
        <p>Перед запуском акции «Подарок за покупку» сотрудники BTL-агентства «Флай-Тайм» проводят тщательные исследования по поводу спроса у целевой аудитории, а также учитывают ее пожелания. Если маркетинговые ходы в этом виде рекламной кампании достаточно просты, то реализация связана с определенными трудностями, поскольку частоприходиться доносить информацию каждому покупателю по отдельности. Но с этим с легкостью справляются наши сотрудники, которые постоянно проводят подобные акции. И, согласно данным наших клиентов, продажи по окончанию кампании возрастают до 500 процентов! Поверьте, с компанией «Флай-Тайм» вас ждут неожиданно приятные результаты</p>
    </div>
</div>