<div class="content">
  <div class="slider-box">
    <div class="slider">
        <div>
            <img src="./image/model2.png" alt="">
            <h2 class="title">Мы  дружные,<br/>
                веселые и активные!</h2>
            <h3 class="subTitle">Любая акция, любое мероприятие — легко и задорно!</h3>
        </div>
        <div>
            <img src="./image/model2.png" alt="">
            <h2 class="title">Мы  дружные,<br/>
                веселые и активные!</h2>
            <h3 class="subTitle">Любая акция, любое мероприятие — легко и задорно!</h3>
        </div>
    </div>
    <div class="prev"></div>
    <div class="next"></div>
</div>
<div id="slider2">
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/4.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/5.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/6.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/1.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
        </div>	

   <div class="text">
        <h1>Проведение промо акций от FlyTime</h1>
        <p>Продвижение товара на современном рынке дело непростое, которое требует опыта, знаний и немного везения. Важно найти правильную подачу и эффективность некоторых простых маркетинговых ходов. Так, проведение промо акций непосредственно около нового магазина более оправдано и результативно, чем реклама на телевидении.</p>
        <h1>Эффективные промо акции</h1>
        <p>Промо-акции от FlyTime всегда достигают цели. Ведь все акции мы планируем с учетом целевой аудитории и особенностей продвигаемого продукта. В работе мы учитываем:</p>
        <ul>
            <li>особенности продвигаемого товара (сезонность, цена);</li>
            <li>место проведения презентации (торговый зал, улица и пр.);</li>
            <li>информационную составляющую рекламного текста.</li>
        </ul>
        <p>Исходя из перечсленого, мы раздаем сувенири и дестовки, устраеваем промо акцей и </p>
        <h1>Наши промо акции</h1>
        <div id="slider1">
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/4.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/5.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/6.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/1.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
        </div>
    </div>  
    <div class="text_img">
        <div class="block_img1"><img src="./image/85.jpg"></div>
        <div class="block_text">
            <h1>Выбрать правильную рекламу</h1>
            <p>Компания «Флай-тайм» предлагает индивидуально подобранный рекламный продукт для каждого клиента. В зависимости от цели, вида товара и других параметров будет разработана лучшая стратегия будущей кампании, в которой мы учтем ваши пожелания.</p>
        <a href="#">Показать еще</a>
        </div>
        <div class="clearfix"></div>
        <div class="block_img2"><img src="./image/76.jpg"></div>
        <div class="block_text2">
            <h1>Наш мерчандайзинг</h1>
            <p>Одно их самых сложных видов продвижения товара – это продвижение его в сети магазинов. Но и такая задача – не проблема, более того, мы выдвигаем к торговым сетям ряд требований:</p>
            <a href="#">Показать еще</a>
        </div>
        <div class="clearfix"></div>
        <div class="block_img1"><img src="./image/83.jpg"></div>
        <div class="block_text">
            <h1>Какая рекламная компания сразу попадет в цель?</h1>
            <p>Любое дело начинается с тщательной подготовки. Мы изучаем загруженность рынка подобной продукцией и где она наиболее распространена, целевую аудиторию, методы рекламы, применяемые для раскрутки конкурентами.</p>
        <a href="#">Показать еще</a>
        </div>
        <div class="clearfix"></div>
        <div class="block_img2"><img src="./image/26.jpg"></div>
        <div class="block_text2">
            <h1>Выгодное сотрудничество с Флай-тайм</h1>
            <p>Конечно, много можно говорить о наших низких ценах, гибких скидках и профессионализме. Мы дорожим нашим клиентом и все делаем профессионально, будь то проведение промоакций или работа промоутеров. Однако у нас есть особенность – мы не боимся вашей проверки.</p>
            <a href="#">Показать еще</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="slider3">
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/4.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/5.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/6.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/1.jpg" alt="Owl Image">
          </div>
          <div class="item carousel-block">
              <img src="./image/3.jpg" alt="Owl Image">
          </div>
        </div>
    </div>
</div>