<div class="content_model">
    <div class="links">
        <a href="#">Главная</a> -
        <a href="#">Модели</a>
    </div>
    <h1>Модели</h1>
    <form>
        <div class="checbox">
            <p>Пол</p>
             <input type="checkbox" id="option1" checked>
             <label for="option1">Женский</label>
             <input type="checkbox" id="option2">
             <label for="option2">Мужской</label>
        </div>
        <div class="checbox">
            <p>Возраст</p>
             <input type="checkbox" id="option3" >
             <label for="option3">18-25 лет</label>
             <input type="checkbox" id="option4">
             <label for="option4">25-35 лет</label>
             <input type="checkbox" id="option5" checked>
             <label for="option5">35-45 лет</label>
             <input type="checkbox" id="option6">
             <label for="option6">более 45 лет</label>
        </div>
        <div class="checbox">
            <p>Рост</p>
             <input type="checkbox" id="option7">
             <label for="option7">до 160 см.</label>
             <input type="checkbox" id="option8">
            <label for="option8">160-180 см.</label>
             <input type="checkbox" id="option9s" checked>
            <label for="option9s">180-200 см.</label>
             <input type="checkbox" id="option10">
             <label for="option10">более 200 см.</label>
        </div>
        <div class="checbox">
            <p>Вес</p>
             <input type="checkbox" id="option11" >
             <label for="option11">до 60 кг.</label>
             <input type="checkbox" id="option12">
             <label for="option12">60-80 кг.</label>
             <input type="checkbox" id="option13">
             <label for="option13">более 80 кг.<label>
        </div>
        <div class="checbox">
            <p>Цвет волос</p>
            <input type="checkbox" id="option14">
             <label for="option14">светлый</label>
             <input type="checkbox" id="option15">
             <label for="option15">темный</label>
             <input type="checkbox" id="option16">
            <label for="option16">черный</label>
        </div>
        <div class="checbox">
            <p>Цвет глаз</p>
            <input type="checkbox" id="option17" >
             <label for="option17">голубые</label>
             <input type="checkbox" id="option18">
             <label for="option18">зеленые</label>
             <input type="checkbox" id="option19">
            <label for="option19">серые</label>
             <input type="checkbox" id="option20">
             <label for="option20">карие</label>
             <input type="checkbox" id="option21">
            <label for="option21">иные</label>
        </div>
        <div class="baton"><a href="#">Применить</a></div>
    </form>
   <div class="tovar">
       <ul>
           <li>
               <img src="./image/manecen1.jpg">
               <a href="#">Шустова Кристина</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen2.jpg">
               <a href="#">Цирулина Алена</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen3.jpg">
               <a href="#">Сустова Вероника</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen4.jpg">
               <a href="#">Углянкина Галина</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen4.jpg">
               <a href="#">Шустова Кристина</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen1.jpg">
               <a href="#">Цирулина Алена</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen1.jpg">
               <a href="#">Цирулина Алена</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
           <li>
               <img src="./image/manecen1.jpg">
               <a href="#">Цирулина Алена</a>
               <p>Возраст 25 лет</p>
               <p>Рост: 170 см.</p>
           </li>
       </ul>
   </div>
</div>