<div class="clearfix"></div>
<footer>
    <div class="inner">
        <div class="footer_logo"><a href="#"><img src="./image/footer_logo.png"></a></div>
        <ul>
            <li><a href="#">Раздача листовок</a></li>
            <li><a href="#">Торговый маркетинг</a></li>
            <li><a href="#">Промоутеры</a></li>
            <li><a href="#">Событийный маркетинг </a></li>
            <li><a href="#">Промо модели</a></li>
            <li><a href="#">Граффити</a></li>
        </ul>
        <p>+7 (495) 973-27-04</p>
        <p>117218, Москва, ул. Дмитрия Ульянова д.42</p>
    </div>  
</footer>




