<div class="page_model">
    <div class="links clearfix">
        <a href="#">Главная</a> -
        <a href="#">Модели</a> -
        <a href="#">Шустова Кристина</a>
    </div>
    <h1>Шустова Кристина</h1>
 
<!--    -->
<div class="carusels">
    <div class="lastOwl">
        <div class="item">
            <a href="" id="single_1"><img src="./image/manecen2.png">
            <div class="block"></div></a>
        </div>
        <div class="item">
            <a href="" id="single_2"><img src="./image/manecen1.png">
            <div class="block"></div></a>
        </div>
        <div class="item">
            <a href="" id="single_3"><img src="./image/manecen2.png">
            <div class="block"></div></a>
        </div>
        <div class="item">
            <a href="" id="single_4"><img src="./image/manecen1.png">
            <div class="block"></div></a>
        </div>
    </div>
</div>
    
    <div class="baton"><a href="#">Оставить заявку</a></div>
    <div class="informe_line">
        <p>Возраст: </p><span>19 лет</span>
        <p>Рост: </p><span>175 см.</span>
        <p>Размер одежды: </p><span>42</span>
    </div>
<!--    -->
    
    
    <div class="text">
        <p>Успешная карьера промо модели – это профессиональный тандем внешних данных, общительности, эмоциональной устойчивости, умения взаимодействовать с другими людьми. Процесс работы промоутера, это череда разнообразных, насыщенных эмоциональным общением, «живых» событий. Несмотря на то, что все события обычно подчинены определенному сценарию, часто приходится проявлять смекалку, ориентироваться в новых, неожиданно возникших ситуациях, вплоть до конфликтных. Поэтому, промо модели просто обязаны относиться ответственно к своему делу, не терять самообладание, оставаться собранными и доброжелательными.</p>
    </div>
    <form>
        <h2>Заявка</h2>
        <p>Имя <span>*</span></p>
        <input type="text" placeholder="Михаил">
        <p class="marg_left">Телефон <span>*</span></p>
        <input type="text" placeholder="+7 (___) ___-__-__">
        <p class="arial">Дополнительная
            <br> информация</p>
        <textarea name="text"></textarea>
        <input type="submit" value="Оставить заявку">
        <div class="clearfix"></div>
    </form>
</div>